@model StudySession

@{
	ViewData["Title"] = "Edit Session";
	int hours = Model.Duration / 60;
	int minutes = Model.Duration % 60;
}

<h2>Edit Study Session</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit" method="post">
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label>Date</label>
				<input type="date" class="form-control" asp-for="Date" />
			</div>
			<div class="form-group">
				<label>Duration</label>
				<div>
					<select id="hours" class="form-control" style="display:inline-block; width:auto;" asp-items="@ViewBag.Hours"></select>
					<select id="minutes" class="form-control" style="display:inline-block; width:auto;" asp-items="@ViewBag.Minutes"></select>
				</div>
				<input type="hidden" class="form-control" asp-for="Duration" />
			</div>
			<div class="form-group">
				<label asp-for="StudyLevel" class="control-label"></label>
				<select class="form-control" asp-for="StudyLevel" asp-items="@ViewBag.StudyLevels">
					<option value="">-- Select a study level --</option>
				</select>
			</div>
			<div class="form-group">
				<label>Module</label>
				<select class="form-control" asp-for="ModuleId" asp-items="@(new SelectList(ViewBag.Modules, "Id", "Name", Model.ModuleId))">
					<option value="">-- Select a module --</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>

@section Scripts {
	<script>
		$('form').on('submit', function () {
			var hours = parseInt($('#hours').val());
			var minutes = parseInt($('#minutes').val());
			var totalMinutes = (hours * 60) + minutes;
			$('#Duration').val(totalMinutes);
		});
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}